* {
    background-color: #CC5836;
    max-width: 960px;
    margin: 10px auto;
}

body {
    position: relative;    
}

/* header, section, #voice, #typography, #color-palette {
    border: 1px dashed black;
} */

header, header h1, header h2 {
    background-color: #A93B1B;
}

header {
    position: relative;
    min-height: 170px;
}

header h1, header img {
    position: absolute;
}

header h1 {
    left: 327px;
    top: 50px;
}

#cookie-cutter {
    left: 707px;
}

#school {
    left: 100px;
}

#nav h3 {
    margin: 57px;
    left: 20px;
}

section, section h3, section p {
    background-color: #E77B5C;
    color: #340C00;
}

section h3 {
    display: inline;
}

#info-section-1 {
    min-height: 170px;
}

#info-section-2 {
    min-height: 170px;
}

#info-section-2 p {
    margin: 10px;
}

#fish-cookie {
    float: left;
    margin: 10px;
}

#t-shirt {
    float: right;
    margin: 10px;
}

.highlights-font {
    font-family: 'Boogaloo', cursive;
    color: #FFE1D8;
}

.data-font {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.text-font {
    font-family: 'Bitter', serif;
}

img {
    width: 150px;
    height: 150px;
}

#salmon-pic {
    width: 600px;
    height: 200px;
    position: absolute;
    left: 150px;
}

#family-pic {
    width: 350px;
    height: 200px;
}

/* table {
    background-color: #821F03;
} */